

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
  </head>

<body>
    <section class="hero is-fullheight is-default is-bold">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <%= image_tag('leaguelogo.png', draggable: "false", id: "drag1") %>
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="tabs is-right">
                                <ul>
                                    <li class="is-active"><a>Home</a></li>
                                    <li>Examples</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <%= image_tag('Fizz.png', draggable: "false", id: "drag1") %>
                        </figure>
                        <figure >
                            <%= image_tag('Ahri.png', draggable: "false", id: "drag1") %>
                        </figure>
                        <figure >
                            <%= image_tag('Akali.png', draggable: "false", id: "drag1") %>
                        </figure>
                        <figure class="image is-4by3">
                            <%= image_tag('Nocturne.png', draggable: "true", id: "drag1") %>
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h2> All Champions</h2>

                        <ul class="block-list is-small is-outlined is-success is-centered">
                            <% @champions.each do |champs|%>
                            <li><%= link_to champs.name, champs%></li>
                            <%end%>
                        </ul>

                        
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li><a>And this is the bottom</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script src="../js/bulma.js"></script>
</body>
</html>