<!DOCTYPE html>
<html>
  <head>
    <title>LeagueProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>

  
    <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="../">
          <%= image_tag('leaguelogo.png', draggable: "false", id: "drag1", alt: "Logo") %>
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class=" navbar-item">
          
            <div class="control has-icons-left">
             <%= form_with(url: search_champions_path, method: :get, local: true ) do %>
             <%= text_field_tag(:keywords, nil, class: "input is-rounded", placeholder: 'Search for Champions') %> 
             <%= submit_tag("Search", class: "button is primary") %><% end %>
             
              
              <span class="icon is-left">
                <i class="fa fa-search"></i>
              </span>
            </div>
            
                
                
            
            </div>
            <%= link_to 'home', root_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>
          
          
            <%= link_to 'Champions', champions_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>

            <%= link_to 'AboutUs', about_us_index_path, class: "navbar-item is-active is-size-5 has-text-weight-semibold" %>
        </div>
      </div>
    </div>
  </nav>
  <%= yield %>

</html>
